<a href="https://colab.research.google.com/github/denmj/kaggle/blob/master/WiDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [93]:

import sys

# Working with data 
import pandas as pd

# Vizualization 
import matplotlib

# math and stat lib
import numpy as np
import scipy as sp

import IPython
from IPython import display
import sklearn 
import random
import time

import warnings
warnings.filterwarnings('ignore')

In [94]:
#Common Model Algorithms
from sklearn import svm, tree, linear_model, neighbors, naive_bayes, ensemble, discriminant_analysis, gaussian_process
from xgboost import XGBClassifier

#Helpers
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn import feature_selection
from sklearn import model_selection
from sklearn import metrics

#Visualization
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns

#Configure Visualization Defaults
#%matplotlib inline = show plots in Jupyter Notebook browser
%matplotlib inline
mpl.style.use('ggplot')
sns.set_style('white')
pylab.rcParams['figure.figsize'] = 12,8

In [95]:
pd.set_option('display.max_rows', 500)

In [96]:
data_dict = pd.read_csv('/content/DataDictionaryWiDS2021.csv')

train_set = pd.read_csv('/content/TrainingWiDS2021.csv')
test_set = pd.read_csv('/content/UnlabeledWiDS2021.csv')

In [97]:
train_set.info(), test_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130157 entries, 0 to 130156
Columns: 181 entries, Unnamed: 0 to diabetes_mellitus
dtypes: float64(157), int64(18), object(6)
memory usage: 179.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10234 entries, 0 to 10233
Columns: 180 entries, Unnamed: 0 to solid_tumor_with_metastasis
dtypes: float64(156), int64(18), object(6)
memory usage: 14.1+ MB

(None, None)

In [98]:
train_set.describe()

          Unnamed: 0  ...  diabetes_mellitus
count  130157.000000  ...      130157.000000
mean    65079.000000  ...           0.216285
std     37573.233831  ...           0.411712
min         1.000000  ...           0.000000
25%     32540.000000  ...           0.000000
50%     65079.000000  ...           0.000000
75%     97618.000000  ...           0.000000
max    130157.000000  ...           1.000000

[8 rows x 175 columns]

In [99]:
train_set.shape, test_set.shape

# copy of orig data set 
train_set_copy = train_set.copy()
test_set_copy = test_set.copy()

In [100]:
# Cols  that are useless (idex and id cols) 
train_set_copy = train_set_copy.drop(columns=['Unnamed: 0', 'encounter_id','hospital_id','icu_id'])
test_set_copy = test_set_copy.drop(columns=['Unnamed: 0', 'encounter_id','hospital_id','icu_id'])

In [101]:
both_sets = [train_set_copy, test_set_copy]

In [103]:
cols = train_set_copy.columns
list(cols)

# 177 features (prob too many)
len(list(cols))

177

In [106]:
# Analysis of missing vals in data set
MVT_cols = ['Feature','Not missing vals','Total missing vals', '% of missing vals']
Missing_value_table = pd.DataFrame(columns = MVT_cols)
Missing_value_table

Empty DataFrame
Columns: [Feature, Not missing vals, Total missing vals, % of missing vals]
Index: []

In [110]:
total_= train_set_copy.count()
missing_vals_ = train_set_copy.isnull().sum()
total_entries = train_set_copy.count().max()

In [111]:
# quick vizual on missing / na values in data set 
_index = 0
for missing, total, col_name in zip(missing_vals_, total_, cols):
  Missing_value_table.loc[_index, 'Feature'] = col_name
  Missing_value_table.loc[_index, 'Not missing vals'] = total
  Missing_value_table.loc[_index, 'Total missing vals'] = missing
  Missing_value_table.loc[_index, '% of missing vals'] = (missing/total_entries)*100
  _index += 1

In [112]:
Missing_value_table.sort_values(by='% of missing vals', ascending=False)

                         Feature  ... % of missing vals
125             h1_bilirubin_max  ...           92.0896
126             h1_bilirubin_min  ...           92.0896
123               h1_albumin_max  ...           91.4319
124               h1_albumin_min  ...           91.4319
143               h1_lactate_max  ...           91.0185
144               h1_lactate_min  ...           91.0185
167         h1_pao2fio2ratio_max  ...           87.1232
168         h1_pao2fio2ratio_min  ...           87.1232
164           h1_arterial_ph_min  ...           82.8607
163           h1_arterial_ph_max  ...           82.8607
162         h1_arterial_pco2_min  ...           82.7201
161         h1_arterial_pco2_max  ...           82.7201
165          h1_arterial_po2_max  ...           82.5503
166          h1_arterial_po2_min  ...           82.5503
135                  h1_hco3_max  ...           81.7436
136                  h1_hco3_min  ...           81.7436
151                   h1_wbc_max  ...           81.4294
152                   h1_wbc_min  ...           81.4294
129               h1_calcium_max  ...           81.3794
130               h1_calcium_min  ...           81.3794
146             h1_platelets_min  ...           81.2319
145             h1_platelets_max  ...           81.2319
127                   h1_bun_max  ...           80.6641
128                   h1_bun_min  ...           80.6641
68        h1_diasbp_invasive_min  ...           80.5404
67        h1_diasbp_invasive_max  ...           80.5404
86         h1_sysbp_invasive_min  ...           80.5235
85         h1_sysbp_invasive_max  ...           80.5235
131            h1_creatinine_max  ...           80.5059
132            h1_creatinine_min  ...           80.5059
76           h1_mbp_invasive_min  ...            80.492
75           h1_mbp_invasive_max  ...            80.492
139            h1_hematocrit_max  ...           79.1014
140            h1_hematocrit_min  ...           79.1014
137            h1_hemaglobin_max  ...           78.9739
138            h1_hemaglobin_min  ...           78.9739
149                h1_sodium_max  ...           78.1986
150                h1_sodium_min  ...           78.1986
147             h1_potassium_max  ...           77.4611
148             h1_potassium_min  ...           77.4611
34                     ph_apache  ...           76.6152
21                   fio2_apache  ...           76.6152
31                  paco2_apache  ...           76.6152
33                   pao2_apache  ...           76.6152
32           paco2_for_ph_apache  ...           76.6152
114               d1_lactate_min  ...           73.3752
113               d1_lactate_max  ...           73.3752
42        d1_diasbp_invasive_min  ...            73.041
41        d1_diasbp_invasive_max  ...            73.041
59         d1_sysbp_invasive_max  ...            73.018
60         d1_sysbp_invasive_min  ...            73.018
49           d1_mbp_invasive_max  ...           72.8874
50           d1_mbp_invasive_min  ...           72.8874
159         d1_pao2fio2ratio_max  ...           71.7126
160         d1_pao2fio2ratio_min  ...           71.7126
156           d1_arterial_ph_min  ...           65.1575
155           d1_arterial_ph_max  ...           65.1575
154         d1_arterial_pco2_min  ...           64.8916
153         d1_arterial_pco2_max  ...           64.8916
157          d1_arterial_po2_max  ...           64.5451
158          d1_arterial_po2_min  ...           64.5451
18              bilirubin_apache  ...           63.4311
111                   d1_inr_max  ...           62.3962
112                   d1_inr_min  ...           62.3962
141                   h1_inr_max  ...           62.3962
142                   h1_inr_min  ...           62.3962
13                albumin_apache  ...           60.0529
95              d1_bilirubin_max  ...           58.9557
96              d1_bilirubin_min  ...           58.9557
133               h1_glucose_max  ...           57.6788
134               h1_glucose_min  ...           57.6788
94                d1_albumin_min  ...           54.8614
93                d1_albumin_max  ...           54.8614
38            urineoutput_apache  ...           48.5314
6          hospital_admit_source  ...           25.5061
92                   h1_temp_min  ...           22.8209
91                   h1_temp_max  ...           22.8209
40                    wbc_apache  ...           22.6457
28             hematocrit_apache  ...           20.5582
19                    bun_apache  ...           19.5233
20             creatinine_apache  ...           19.1169
36                 sodium_apache  ...            18.838
106                  d1_hco3_min  ...           15.4022
105                  d1_hco3_max  ...           15.4022
116             d1_platelets_min  ...           14.2574
115             d1_platelets_max  ...           14.2574
121                   d1_wbc_max  ...           13.3908
122                   d1_wbc_min  ...           13.3908
100               d1_calcium_min  ...           12.8245
99                d1_calcium_max  ...           12.8245
108            d1_hemaglobin_min  ...           12.4711
107            d1_hemaglobin_max  ...           12.4711
110            d1_hematocrit_min  ...           11.9763
109            d1_hematocrit_max  ...           11.9763
26                glucose_apache  ...            11.291
97                    d1_bun_max  ...           10.5519
98                    d1_bun_min  ...           10.5519
79        h1_mbp_noninvasive_max  ...           10.2161
80        h1_mbp_noninvasive_min  ...           10.2161
101            d1_creatinine_max  ...           10.1977
102            d1_creatinine_min  ...           10.1977
120                d1_sodium_min  ...           10.1954
119                d1_sodium_max  ...           10.1954
117             d1_potassium_max  ...           9.63913
118             d1_potassium_min  ...           9.63913
71     h1_diasbp_noninvasive_max  ...           8.71179
72     h1_diasbp_noninvasive_min  ...           8.71179
90      h1_sysbp_noninvasive_min  ...           8.70487
89      h1_sysbp_noninvasive_max  ...           8.70487
104               d1_glucose_min  ...           6.33312
103               d1_glucose_max  ...           6.33312
37                   temp_apache  ...           5.07925
77                    h1_mbp_max  ...           5.01702
78                    h1_mbp_min  ...           5.01702
81               h1_resprate_max  ...           4.95863
82               h1_resprate_min  ...           4.95863
84                   h1_spo2_min  ...           4.79575
83                   h1_spo2_max  ...           4.79575
70                 h1_diasbp_min  ...           4.24641
69                 h1_diasbp_max  ...           4.24641
87                  h1_sysbp_max  ...           4.24026
88                  h1_sysbp_min  ...           4.24026
0                            age  ...           3.83229
66                   d1_temp_min  ...           3.45275
65                   d1_temp_max  ...           3.45275
1                            bmi  ...           3.44968
74              h1_heartrate_min  ...           3.13007
73              h1_heartrate_max  ...           3.13007
12                        weight  ...           2.66063
54        d1_mbp_noninvasive_min  ...           1.71178
53        d1_mbp_noninvasive_max  ...           1.71178
25             gcs_verbal_apache  ...           1.68258
23              gcs_motor_apache  ...           1.68258
22               gcs_eyes_apache  ...           1.68258
5                         height  ...           1.59577
14            apache_2_diagnosis  ...           1.29459
46     d1_diasbp_noninvasive_min  ...           1.25694
45     d1_diasbp_noninvasive_max  ...           1.25694
64      d1_sysbp_noninvasive_min  ...           1.24696
63      d1_sysbp_noninvasive_max  ...           1.24696
3                      ethnicity  ...            1.2193
15           apache_3j_diagnosis  ...          0.664582
35               resprate_apache  ...          0.620789
24             gcs_unable_apache  ...          0.544727
55               d1_resprate_max  ...          0.524751
56               d1_resprate_min  ...          0.524751
58                   d1_spo2_min  ...          0.408737
57                   d1_spo2_max  ...          0.408737
30                    map_apache  ...          0.322687
52                    d1_mbp_min  ...          0.251235
51                    d1_mbp_max  ...          0.251235
27             heart_rate_apache  ...          0.237406
43                 d1_diasbp_max  ...           0.21282
44                 d1_diasbp_min  ...           0.21282
61                  d1_sysbp_max  ...           0.20821
62                  d1_sysbp_min  ...           0.20821
47              d1_heartrate_max  ...          0.201295
48              d1_heartrate_min  ...          0.201295
7               icu_admit_source  ...          0.184393
4                         gender  ...          0.050708
2               elective_surgery  ...                 0
175  solid_tumor_with_metastasis  ...                 0
174                     lymphoma  ...                 0
173                     leukemia  ...                 0
172            immunosuppression  ...                 0
171              hepatic_failure  ...                 0
170                    cirrhosis  ...                 0
169                         aids  ...                 0
29              intubated_apache  ...                 0
39             ventilated_apache  ...                 0
8                  icu_stay_type  ...                 0
9                       icu_type  ...                 0
10              pre_icu_los_days  ...                 0
11            readmission_status  ...                 0
16         apache_post_operative  ...                 0
17                    arf_apache  ...                 0
176            diabetes_mellitus  ...                 0

[177 rows x 4 columns]

In [122]:
# Rule of thumb, anything with at least 50% and more missing data, candidate cols to be dropped

cols_to_drop =  list(Missing_value_table['Feature'][Missing_value_table['% of missing vals'] > 50])

In [124]:
# 73 cols to drop 
len(cols_to_drop)

73

In [126]:
# 104 to check if we can impute some data 
len(list(cols))  - len(cols_to_drop)

104

In [128]:
# Dropping from train and test sets 
for data_set in both_sets:
    data_set.drop(cols_to_drop, axis = 1, inplace=True)

In [133]:
len(list(train_set_copy.columns)), len(list(test_set_copy.columns))

(104, 103)

In [134]:
# 1st way (Lazy way), we will fill missing cells with 0 for int/float data type 
# and with " " for categorical data type